body {
    background-color: #E5E5E5;
    font-family: 'Roboto';
}
nav {
    height: 70px;
    z-index: 99;
}
div.nav-wrapper {
    background-color: #52B68B;
}
div.nav-wrapper a {
    height: 70px;
    font-size: 26px;
}
a.brand-logo img {
    height: 35px;
    margin-left: 15px;
    margin-right: 10px;
    margin-top: 14px;
}
a.brand-logo span {
    vertical-align: super;
    margin-left: 15px;
}
#nav-mobile a {
    color: white;
    margin: 0px;
    width: initial;
    font-size: 20px;
    font-weight: 300;
}
.right.hide-on-med-and-down li a,
i.material-icons {
    color: rgba(66, 66, 66, 0.65);
}
.right.hide-on-med-and-down li a {
    letter-spacing: 2px;
    padding-top: 6px;
    font-size: 16px;
    padding-left: 25px;
    padding-right: 25px;
    font-weight: 400;
}
.right.hide-on-med-and-down li {
    display: inline-block;
    position: relative;
}
.side-nav {
    color: #424242;
}
.side-nav li a {
    font-size: 16px;
    color: rgba(66, 66, 66, 0.65);
}
.side-nav li a span {
    color: rgba(66, 66, 66, 0.65);
}
.side-nav li a.active i {
    color: #424242;
}
.side-nav li a.active span {
    color: #424242;
}
a.button-collapse {
    padding-top: 10px;
}
nav a.button-collapse i {
    color: #ffffff;
}
.right.hide-on-med-and-down li ul li {
    background-color: white;
    list-style: none;
    display: block;
    color: #424242;
    padding: 0;
    font-weight: bold;
    position: relative;
    line-height: 32px;
}
.right.hide-on-med-and-down li ul {
    letter-spacing: 2px;
    position: absolute;
    right: 0;
    margin: -1px 0 0 -20px;
    padding: 0;
    display: none;
    white-space: nowrap;
    background-color: white;
    top: 70px;
}
.right.hide-on-med-and-down li:hover .z-depth-2 {
    display: inline-flex;
}
div.nav-wrapper .side-nav a {
    margin-left: 0px;
    width: 270px
}
.side-nav img {
    height: 56px;
    margin: 28px;
    margin-bottom: -25px;
}
@media only screen and (min-width: 600px) {
    div.nav-wrapper a {
        padding-top: 5px;
        margin-left: 10px;
        letter-spacing: 2px;
        padding-top: 6px;
        display: inline-flex;
        width: 180px;
    }
}
@media only screen and (min-width: 993px) {
    div.nav-wrapper a {
        padding-top: 5px;
        margin-left: 70px;
    }
    .row .col.l3 {
        position: absolute;
        top: 70px;
    }
    .row .col.l9 {
        position: relative;
        right: -25%;
    }
    div.nav-wrapper a .material-icons {
        display: none;
    }
    div.nav-wrapper a.button-collapse {
        display: none;
    }
    #mobile-btn {
        display: none;
    }
}
@media only screen and (max-width: 600px) {
    div.nav-wrapper a {
        padding-top: 10px;
        margin-left: 10px;
        display: inline-flex;
        letter-spacing: 2px;
        padding-top: 6px;
        width: 180px;
    }
}
.side-nav ul li a {
    width: 270px;
}
#main_container {
    width: 85%;
    position: relative;
    top: 99px;
}
.table-of-contents a:hover {
    border-left: 2px solid #0097a7;
}
.table-of-contents a {
    color: rgba(66, 66, 66, 0.65);
}
.table-of-contents a.active {
    border-left: 3px solid #0097a7;
    color: #424242;
}
.table-of-contents a.active i {
    color: #424242;
}
.section.table-of-contents {
    font-size: 22px;
    line-height: 40px;
    letter-spacing: 2px;
}
.section.table-of-contents span {
    position: relative;
    top: -4px;
}
.col.l9 {
    position: relative;
    top: 10px;
}
.card .card-title {
    font-size: 18px;
}
.arrow-right {
    width: 0;
    height: 0;
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;
    border-left: 40px solid green;
}
.collection {
    border: 0px;
}
.collection .collection-item {
    border: 0px;
    color: #424242;
    padding: 5px 10px 0px 10px;
}
#progress_detail {
    margin-bottom: 0px;
}
#progress_detail .col.s5.m5.l5 {
    font-size: 15px;
    font-weight: bold;
    margin-top: -11px;
    color: #25A398;
}
#progress {
    margin-top: 40px;
}
#container1 {
    margin: 0px;
    width: 100%;
    height: 100%;
}
.progressbar-text {
    font-size: 20px;
    font-weight: bold;
}
.hoverable:hover {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
@media only screen and (min-width: 600px) {} @media only screen and (min-width: 993px) {} @media only screen and (max-width: 993px) {} #morebtn {
    margin-top: -32px;
    margin-left: 0px;
}
#morebtn:hover {
    box-shadow: 0 5px 11px 0 rgba(0,
    0,
    0,
    0.30),
    0 4px 15px 0 rgba(0,
    0,
    0,
    0.15);
}
#lessbtn {
    margin-top: 38px;
    margin-left: 0px;
    display: none;
}
#lessbtn:hover {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.30), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}
#more,
#less {
    color: #424242;
    display: initial;
}
#logo {
    display: none;
}
#logo img {
    height: 55px;
    margin-top: 5px;
}
#nav-mobile i {
    display: initial;
}
#mobile-btn a {
    margin: 0px;
    width: 100%;
    letter-spacing: 2px;
}
#mobile-btn .col.s6.m6 {
    padding: 0px;
}
#mobile-btn a:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
#mobile-btn span {
    margin: 0 auto;
    font-size: 20px;
    font-weight: 300;
}
.modal .modal-content {
    padding: 0px;
}
.modal .modal-content .col.s12 {
    padding: 0px;
}
.tabs .tab a {
    color: #26a69a;
    padding-top: 10px;
}
.tabs .tab a:hover {
    color: #88cdaf;
}
.tabs .indicator {
    background-color: #26a69a;
}
.modal-action.modal-close {
    color: #26a69a;
}
.modal-action.modal-close:hover {
    color: #88cdaf;
}
#idInput {
    margin: 0 auto;
    width: 50%;
    position: relative;
    top: 128px;
    margin-bottom: 50px;
}
#noIdInputGender,
#inputLocations,
#inputLocation {
    position: relative;
    top: 36px;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 8px;
}
#noIdInputAge {
    position: relative;
    top: 30px;
    width: 50%;
    margin: 0 auto;
    margin-top: 25px;
}
#noIdInputAge label {
    margin-left: -10px;
}
.modal .modal-content p {
    position: relative;
    top: 36px;
    font-size: 14px;
    color: #424242;
    width: 50%;
    margin: 0 auto;
}
#checkboxInput {
    position: relative;
    top: 36px;
    width: 60%;
    margin: 0 auto;
    letter-spacing: 2px;
    margin-bottom: 45px;
}
#checkboxItem {
    margin-top: 20px;
}
.col.l12.m12.s12.section.scrollspy {
    margin-bottom: 36px;
}
#intro,
#principle {
    padding: 0px;
}
#download {
    text-align: center;
    color: #666666;
}
#download .container {
    padding-bottom: 20px;
}
#download .row {
    padding-top: 20px;
    padding-bottom: 30px;
}
#download .card.video {
    padding-bottom: 20px;
}
#download_img {
    padding-top: 25px;
    width: 85%;
    margin: 0 auto;
}
#download span {
    font-size: 20px;
    padding-bottom: 30px;
}
#download img {
    margin-top: 25px;
    width: 85%;
}
#download h3 {
    margin-top: 30px;
}
footer.page-footer {
    position: relative;
    top: 120px;
    padding-top: 0px;
    background-color: #52B68B;
}
hr {
    width: 80%;
    margin-bottom: 40px;
}
@media only screen and (min-width: 993px) {
    .footer-copyright .container {
        width: 90%;
    }
}
@media only screen and (max-width: 992px) {
    .footer-copyright {
        text-align: center;
    }
}
div.card-content.white-text.intro-card-content {
    padding: 0px;
}
.card h5.card-title {
    font-weight: 500;
    color: white;
    background-color: #52B68B;
    padding: 30px;
    font-size: 36px;
    text-align: initial;
    margin-bottom: 0px;
}
.col.l12.m12.s12 p {
    background: white;
    margin-top: 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    letter-spacing: 2px;
    margin-bottom: 0px;
}
.col.l12.m12.s12 .col.s12.m6.l6 {
    text-align: center;
    color: #52B68B;
    font-weight: 400;
    font-size: 22px;
    text-align: initial;
    padding: 25px;
    padding-right: 20px;
}
.col.l12.m12.s12 .col.s12.m6.l6 img {
    display: block;
    margin: 0 auto;
    align: center;
    margin-top: 10px;
    width: 90%;
}
#intro-row {
    padding-top: 20px;
    padding-bottom: 20px;
}
#progressBar {
    position: absolute;
    top: -8px;
    left: -5px;
    width: 20%;
    background-color: #26a69a;
    border: 0px;
    height: 2px;
}