body {
    background-color: #E5E5E5;
    font-family: 'Roboto';
}
nav {
    height: 70px;
    z-index: 99;
}
@media only screen and (min-width: 991px) {
    nav {
        position: fixed;
        top: 0;
        transition: top 0.4s ease;
        width: 100%;
    }
}
.nav-up {
    top: -70px;
}
div.nav-wrapper {
    background-color: #52B68B;
}
div.nav-wrapper a {
    height: 70px;
    font-size: 26px;
}
a.brand-logo img {
    height: 35px;
    margin-left: 15px;
    margin-right: 10px;
    margin-top: 14px;
}
a.brand-logo span {
    vertical-align: super;
    margin-left: 15px;
}
.right.hide-on-med-and-down li a,
i.material-icons {
    color: rgba(66, 66, 66, 0.65);
}
.right.hide-on-med-and-down li a {
    letter-spacing: 2px;
    padding-top: 6px;
    font-size: 16px;
    padding-left: 25px;
    padding-right: 25px;
    font-weight: 400;
}
.right.hide-on-med-and-down li {
    display: inline-block;
    position: relative;
}
.side-nav {
    color: #424242;
}
.side-nav li a {
    font-size: 16px;
    color: rgba(66, 66, 66, 0.65);
}
.side-nav li a span {
    color: rgba(66, 66, 66, 0.65);
}
.side-nav li a.active i {
    color: #424242;
}
.side-nav li a.active span {
    color: #424242;
}
a.button-collapse {
    padding-top: 10px;
}
nav a.button-collapse i {
    color: #ffffff;
}
#bottom {
    text-align: center;
    margin-bottom: 15px;
}
#bottom hr {
    border-bottom: 3px solid #52B68B;
    width: 46%;
    margin-top: 36px;
}
#bottom span {
    font-size: 14px;
    color: #424242
}
#top {
    text-align: center;
    margin-bottom: 35px;
    margin-top: 20px;
}
#top hr {
    border-bottom: 3px solid #52B68B;
    width: 46%;
    margin-top: 0px;
}
#top span {
    font-size: 14px;
    color: #424242
}
.right.hide-on-med-and-down li ul li {
    background-color: white;
    list-style: none;
    display: block;
    color: #424242;
    ;
    padding: 0;
    font-weight: bold;
    position: relative;
    line-height: 32px;
}
.right.hide-on-med-and-down li ul {
    letter-spacing: 2px;
    position: absolute;
    right: 0;
    margin: -1px 0 0 -20px;
    padding: 0;
    display: none;
    white-space: nowrap;
    background-color: white;
    top: 70px;
}
.right.hide-on-med-and-down li:hover .z-depth-2 {
    display: inline-flex;
}
div.nav-wrapper .side-nav a {
    margin-left: 0px;
    width: 270px
}
.side-nav img {
    height: 56px;
    margin: 28px;
    margin-bottom: -25px;
}
@media only screen and (min-width: 600px) {
    div.nav-wrapper a {
        padding-top: 5px;
        margin-left: 10px;
        letter-spacing: 2px;
        padding-top: 6px;
        display: inline-flex;
        width: 180px;
    }
}
@media only screen and (min-width: 993px) {
    div.nav-wrapper a {
        padding-top: 5px;
        margin-left: 70px;
    }
    .row .col.l3 {
        position: fixed;
        top: 70px;
    }
    .row .col.l9 {
        position: relative;
        right: -25%;
    }
    div.nav-wrapper a .material-icons {
        display: none;
    }
    #main_container {
        top: 70px;
    }
    div.nav-wrapper a.button-collapse {
        display: none;
    }
}
@media only screen and (max-width: 600px) {
    div.nav-wrapper a {
        padding-top: 10px;
        margin-left: 10px;
        display: inline-flex;
        letter-spacing: 2px;
        padding-top: 6px;
        width: 180px;
    }
}
.side-nav ul li a {
    width: 270px;
}
#main_container {
    width: 85%;
    position: relative;
}
.table-of-contents a:hover {
    border-left: 2px solid #0097a7;
}
.table-of-contents a {
    color: rgba(66, 66, 66, 0.65);
}
.table-of-contents a.active {
    border-left: 3px solid #0097a7;
    color: #424242;
}
.table-of-contents a.active i {
    color: #424242;
}
.section.table-of-contents {
    font-size: 22px;
    line-height: 40px;
    letter-spacing: 2px;
}
.section.table-of-contents span {
    position: relative;
    top: -4px;
}
.col.l9 {
    position: relative;
    top: 10px;
}
.card .card-title {
    font-size: 18px;
}
.col.l6.m6.s12 p {
    height: 195px;
    background: white;
    margin-top: 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    letter-spacing: 2px;
}
div.card.x8D2CA8 {
    background-color: #8D2CA8;
}
div.card.x1073B9 {
    background-color: #1073B9;
}
.arrow-right {
    width: 0;
    height: 0;
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;
    border-left: 40px solid green;
}
.collection {
    border: 0px;
}
.collection .collection-item {
    border: 0px;
    color: #424242;
    padding: 5px 10px 0px 10px;
}
#progress_detail {
    margin-bottom: 0px;
}
#progress_detail .col.s5.m5.l5 {
    font-size: 15px;
    font-weight: bold;
    margin-top: -11px;
    color: #25A398;
}
#progress {
    margin-top: 40px;
}
#container1 {
    margin: 0px;
    width: 100%;
    height: 100%;
}
.progressbar-text {
    font-size: 20px;
    font-weight: bold;
}
.hoverable:hover {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#weather-row {
    margin-bottom: 0px;
}
#weather-row p {
    color: #424242;
    font-size: 24px;
    font-weight: 500;
}
.weather-img {
    position: absolute;
    height: 36%;
}
.card-content.white-text.weather {
    padding: 0px;
}
.card h5.card-title {
    color: white;
    padding: 20px;
    font-size: 18px;
    margin-bottom: 0px;
    margin-top: 0px;
}
.card h5.card-title.weather {
    background-color: #f9a825;
}
#forecast {
    margin-bottom: 0px;
    padding-right: 15px;
}
.weather-img-thumb {
    width: 70%;
}
#forecast h5 {
    color: #424242;
    font-size: 18px;
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
}
#forecast .col.s4.m4.l4 {
    padding-right: 0px;
    padding-left: 0px;
    text-align: center;
}
#pm25-title {
    color: #424242;
    font-size: 24px;
    letter-spacing: 1px;
    margin: 0 auto;
    width: 75px;
}
#pm25-value {
    font-weight: 500;
    font-size: 45px;
    color: #ff6f00;
    letter-spacing: 2px;
    margin-top: 0px;
    margin-bottom: 0px;
}
#weather-row.row.pm25 {
    text-align: center;
}
.col.s6.m6.l6.value {
    padding-left: 0px;
    margin-left: -10px;
}